<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="robot" type="BadaBingBot.Config.RobotSection, BadaBingBot" />
  </configSections>
  
  <robot name="BadaBintBot">
    <plugins directory=".\Plugins">
      <jenkins>
        <server url="http://localhost:8080" interval="5000" />
      </jenkins>

      <xmpp server="jabber.org" username="BadaBingBot" password="BadaB1ng!">
        <room jid="BadaBing@conference.jabber.org">
          <filter source="jenkins" result="failed" />
        </room>
      </xmpp>
    </plugins>
  </robot>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>